@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1.2em;
  color: #0f2410;
  padding-top: 50px;
  font-family: 'Yeseva One', cursive;
  background-color: #e0e6e0;
}

/*nav styling starts here*/
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  height: 50px;
}

.icon {
  display: none;
  cursor: pointer;
}

.icon div {
  width: 25px;
  height: 3px;
  background-color: #0f2410;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.topnav {
  height: 100%;
}

.topnav li {
  display: inline-block;
  height: 100%;
}

.topnav a:link,
.topnav a:visited {
  color: #0f2410;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.topnav a:hover {
  background-color: #519d69;
  color: white;
}

.logo {
  margin: 5px 50px 10px 50px;
  padding-top: 50px;
}

.logo a {
  cursor: pointer;
  text-decoration: none;
}

/*nav styling ends here*/
/*header starts*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin: 40px auto;
  padding: 0 60px;
  max-width: 1400px;
  background-color: white;
}

header > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.lola img {
  display: block;
  margin: auto;
  width: 50%;
}

#main-photo img {
  width: 100%;
  border-radius: 20px;
  max-height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

#greeting {
  margin-right: 20px;
}

#greeting h2 {
  font-size: 1.6em;
  font-weight: bolder;
  margin-top: 0;
}

#greeting p {
  font-size: 20px;
  font-weight: 100;
}

#projects {
  margin: 40px;
}

#projects h2 {
  font-size: 2.0em;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #939593;
  border-radius: 5px;
  margin: 30px;
}

.business {
  margin-left: 100px;
}

.business p {
  font-size: 20px;
  line-height: 2.0;
  padding: 50px;
}

.business span {
  background-color: #b1d0b3;
  font-size: 15px;
  padding: 8px;
  border-radius: 50px;
}

#page1 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.card {
  margin-left: 100px;
}

.card p {
  font-size: 20px;
  line-height: 2.0;
  padding: 70px;
}

.card span {
  background-color: #b1d0b3;
  font-size: 15px;
  padding: 8px;
  border-radius: 50px;
}

#page2 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.profile {
  margin-right: 100px;
}

.profile p {
  font-size: 20px;
  line-height: 2.0;
  padding: 80px;
}

.profile span {
  background-color: #b1d0b3;
  font-size: 15px;
  padding: 8px;
  border-radius: 50px;
}

#page4 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.testimonials {
  margin-right: 100px;
}

.testimonials p {
  font-size: 20px;
  line-height: 2.0;
  padding: 50px;
}

.testimonials span {
  background-color: #b1d0b3;
  font-size: 15px;
  padding: 8px;
  border-radius: 50px;
}

#page3 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.threecolumn {
  margin-left: 100px;
}

.threecolumn p {
  font-size: 20px;
  line-height: 2.0;
  padding: 50px;
}

.threecolumn span {
  background-color: #b1d0b3;
  font-size: 15px;
  padding: 8px;
  border-radius: 50px;
}

#page5 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.socialproof {
  margin-right: 100px;
}

.socialproof p {
  font-size: 20px;
  line-height: 2.0;
  padding: 50px;
}

.socialproof span {
  background-color: #b1d0b3;
  font-size: 15px;
  padding: 8px;
  border-radius: 50px;
}

#page6 img {
  padding: 40px;
}

#page6 img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#aboutme {
  margin: 40px;
  padding: 70px;
}

#aboutme h2 {
  font-size: 2.0em;
}

#aboutme p {
  font-size: 16px;
  font-weight: 100;
}

#aboutme img {
  border-radius: 50%;
  margin-top: 50px;
}

footer {
  background-color: #a0b5a3;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

#contact .info {
  margin-left: 30px;
  font-size: 15px;
  padding-top: 20px;
}

#contact .logo {
  padding-bottom: 30px;
}

#contact .web {
  padding: 50px;
}

#contact .web img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#contact p {
  padding-top: 10px;
}

#contact p a {
  text-decoration: none;
  color: #0f2410;
}

#contact p a:hover {
  color: white;
}

#form {
  background: #3f4b40;
  color: white;
  border-radius: 10px;
  margin: auto auto 30px;
  max-width: 800px;
  padding: 30px 20px;
  text-align: center;
  width: 40%;
  height: 50%;
}

.contact-form input {
  display: block;
  height: 30px;
  width: 50%;
  margin: 10px auto;
  border: 0;
  border-radius: 10px;
  padding: 10px;
}

.contact-form textarea {
  display: block;
  height: 100px;
  margin: auto;
  width: 50%;
  border: 0;
  border-radius: 10px;
  padding: 10px;
}

.contact-form button {
  background: #767e76;
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  width: 40%;
  border: 0;
  border-radius: 10px;
  font-weight: 700;
}

.copy {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}



/*Here is styling About page*/
#education {
  margin-left: 50px;
}

#education h2 {
  font-size: 2.0em;
}

#education .institution {
  font-size: 28px;
}

#education li {
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 300px;
  padding-left: 320px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin-bottom: 50px;
}

.dit {
  background-image: url("../images/dit.png");
}

.unilag {
  background-image: url("../images/unilag.jpg");
  background-size: auto;
}

#skills {
  margin-left: 50px;
  margin-bottom: 20px;
}

#skills h2 {
  font-size: 2.0em;
}

#skills h5 {
  padding: 5px 10px;
  background-color: #033a03;
  display: inline;
  border-radius: 40px;
  color: white;
}

#language {
  margin-left: 50px;
}

#language h2 {
  font-size: 2.0em;
}

#language span {
  padding: 5px 10px;
  background-color: #033a03;
  border-radius: 40px;
  color: white;
  font-size: 15px;
}

#hobbies {
  margin-left: 50px;
  margin-bottom: 50px;
}

#hobbies h2 {
  font-size: 2.0em;
}

#hobbies h5 {
  padding: 5px 10px;
  background-color: #033a03;
  display: inline;
  border-radius: 40px;
  color: white;
}

.copyright {
  text-align: center;
  font-size: 15px;
}

.intro {
  margin-top: 50px;
}

.intro h1 {
  border-bottom: solid 5px currentColor;
}

.content {
  margin: 40px;
}

.content .myphoto img {
  display: block;
  margin: auto;
  width: 50%;
  border-radius: 5px;
}

.content p {
  padding-top: 40px;
  text-align: center;
  width: 80%;
  margin: auto;
  line-height: 1.5;
}



@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
  }
  .logo {
    display: block;
    margin-right: 60px;
    padding-bottom: 20px;
  }
  #form {
    width: auto;
  }
  .lola {
    margin-top: 20px;
  }
  nav {
    position: static;
    margin-bottom: 10px;
  }
  .icon {
    display: block;
  }
  .topnav {
    position: absolute;
    right: 0;
    top: 8vh;
    width: 100%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 92vh;
    background-color: #e0e6e0;
    margin-top: 50px;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .topnav li {
    opacity: 0;
  }
  .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .toggle .line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
  @-webkit-keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .business {
    margin-left: 0;
    margin-right: 0;
  }
  .card {
    margin-left: 0;
    margin-right: 0;
  }
  .profile {
    margin-right: 0;
    margin-left: 0;
  }
  .testimonials {
    margin-right: 0;
    margin-left: 0;
  }
  .threecolumn {
    margin-left: 0;
    margin-right: 0;
  }
  .socialproof {
    margin-right: 0;
    margin-left: 0;
  }
  #education li {
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 200px;
  padding-left: 150px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin-bottom: 50px;
}

#aboutme {
  padding: 20px;
}
}






